---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import { enhanceContentCollection } from '../lib/utils/markdown'

const demoCollection = await getCollection("en-demo")
const finalCollection = enhanceContentCollection(demoCollection)
// console.log(demoCollection)
// console.log(finalCollection)
const { Content } = await finalCollection[1].render();

--- 

<Layout title="Enhance Content Collection">
	<header class="m-4 p-4 border-2 border-gray-300 rounded-lg leading-8">
		<h1 class="text-3xl font-bold">Demo Enhanced Content Collection</h1><hr/>
		<p>Depend on `markdown-it` and `sanitize-html`</p><hr/>
		<h2 class="font-bold">Context</h2>
		<p>The main differentiate is new `headings` obj for each markdown content that currectly need to setup manually</p>
		<p>It would be handly if built in as feature in Astro content-collection</p><hr/>
		<h2 class="font-bold">Explanation</h2>
		<p>My main case is trying to create `table-of-content`more easy and wanna be able fuzzy search deeply into markdown (e.g. using Fuse.js)</p>
		<p>Imagine searching "heading" content with SearchBar or searching inside long README content (e.g. awesome-repo-blabla), Github has feature to jump between heading a.k.a TOC</p><hr/>
		<h2 class="font-bold">DEMO CONTENT</h2>
		<span>in markdown content, try to change default `h1` into `h2`, from `#` into `##`</span>
		<ul>
			{finalCollection.map((item, idx) => (
					<li class="hover:underline text-blue-600"><a href={item.slug}>{item.data.title}</a></li>
			))}
		</ul>
		<hr/>
		<h2 class="font-bold">DEMO FUZZY SEARCH</h2>
		<a href="/fuzzy-search" class="hover:underline text-blue-600">Search Heading Content</a>
	</header>
	<main>
		<span class="text-2xl ml-4">from this:</span>
		<small><pre class="bg-gray-300 rounded-lg m-4 p-4 overflow-x-auto">{JSON.stringify(demoCollection, null, 2)}</pre></small>

		<span class="text-2xl ml-4">to this:</span>
		<small><pre class="bg-gray-300 rounded-lg m-4 p-4 overflow-x-auto">{JSON.stringify(finalCollection, null, 2)}</pre></small>
	</main>

</Layout>

<style>
	
</style>
