---
import Layout from '../../layouts/Layout.astro'
import DemoFuzzySearch from './DemoFuzzySearch.jsx'

import { getCollection } from 'astro:content';
import { enhanceContentCollection } from '../../lib/utils/markdown'

const demoCollection = await getCollection("en-demo")
const finalCollection = enhanceContentCollection(demoCollection)

// console.log(finalCollection)

---

<Layout title="Demo Fuzzy Seach">
  <div class="ml-8 mt-8">
    <a href="/" class="hover:underline">BACK</a>
  </div>
  <DemoFuzzySearch client:only content={finalCollection}/>
</Layout>