---
export const prerender = true;

import Layout from '../../layouts/Layout.astro'
import SampleTOC from '../../components/SampleTOC.jsx'

import { getCollection } from 'astro:content';
import { enhanceContentCollection } from '../../lib/utils/markdown'

export const getStaticPaths = async () => {
  const demoCollection = await getCollection("en-demo");

  const paths = demoCollection.map((demoContent) => {    
    const selectedContent = demoCollection.filter((item) => {
      return item.slug == demoContent.slug
    });

    return {
      params: { slug: demoContent.slug },
      props: { demoContent, selectedContent },
    };
  });

  return paths;
};

const { demoContent, selectedContent } = Astro.props;
const { Content } = await demoContent.render();

const finalContent = enhanceContentCollection(selectedContent)
// console.log(JSON.stringify(finalContent[0].headings))

---

<Layout title="Demo Content">
  <div class="ml-8 mt-8">
    <a href="/" class="hover:underline">BACK</a>
  </div>
  <header>
    <SampleTOC client:only headings={finalContent[0].headings}/>
  </header>
  <main class="m-4 p-4">
    <article class="prose lg:prose-xl">
      <Content/>
    </article>
  </main>
</Layout>
